@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
body {
  font-family: 'Rubik', sans-serif; }

.home {
  text-transform: uppercase; }
  .home__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .home__header__title {
      text-align: center; }
    .home__header__links ul {
      list-style: none;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center; }
      .home__header__links ul li {
        padding: 1rem;
        border-radius: 2rem; }
        .home__header__links ul li:hover {
          cursor: pointer;
          box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12); }
  .home__main {
    width: 100%; }
    .home__main a {
      width: 100%;
      color: black;
      text-decoration: none; }
    .home__main .projects {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .home__main .projects .col-3 {
        display: flex;
        justify-content: center;
        padding: 2em; }
        .home__main .projects .col-3 .project {
          height: 15rem;
          width: 15rem;
          text-align: center;
          padding: 4em; }
          .home__main .projects .col-3 .project:hover {
            cursor: pointer;
            box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12); }
